api_news/celerybeat-schedule.db
api_news/parse_app/migrations
api_news/parse_app/__pycache__
api_news/api_news/__pycache__
api_news/db.sqlite3
api_news/djangoapi
api_news/api_news/dump.rdb
.env
venv
.DS_Store